## Data cleaning using pandas

In [1]:
# importing pandas liberary
import pandas as pd

In [7]:
# displaying liberary version
print(pd._version)

<module 'pandas._version' from 'C:\\Users\\Dell\\anaconda3\\Lib\\site-packages\\pandas\\_version.py'>

In [9]:
# creating dictionary
data={'name':['asiya', 'aisha', 'saifullahi', 'mama', 'aminu', 'usman', 'jamila', 'abubakar'],
     'age':[23,30,42,17,50,65,37,20],
     'gender' :['female', 'female', 'male', 'female', 'male', 'male', 'female', 'male']}

In [10]:
# creating dataframe from dictionary
df=pd.DataFrame(data)

In [11]:
# displaying dataframe
print(df)

         name  age  gender
0       asiya   23  female
1       aisha   30  female
2  saifullahi   42    male
3        mama   17  female
4       aminu   50    male
5       usman   65    male
6      jamila   37  female
7    abubakar   20    male

In [12]:
# displaying dataframe information
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    8 non-null      object
 1   age     8 non-null      int64
 2   gender  8 non-null      object
dtypes: int64(1), object(2)
memory usage: 324.0+ bytes
None

In [13]:
# displaying dataframe description
print(df.describe())

             age
count   8.000000
mean   35.500000
std    16.449056
min    17.000000
25%    22.250000
50%    33.500000
75%    44.000000
max    65.000000

In [14]:
# filtering dataframe for age
filter=df[df['age']>30]

In [16]:
print(filter)

         name  age  gender
2  saifullahi   42    male
4       aminu   50    male
5       usman   65    male
6      jamila   37  female

In [18]:
# filtering dataframe for male gender
filter=df[df['gender']=='male']

In [19]:
print(filter)

         name  age gender
2  saifullahi   42   male
4       aminu   50   male
5       usman   65   male
7    abubakar   20   male

In [20]:
# filtering dataframe for female gender
filter=df[df['gender']=='female']

In [21]:
print(filter)

     name  age  gender
0   asiya   23  female
1   aisha   30  female
3    mama   17  female
6  jamila   37  female